body
{
	font-family: 'Open Sans', sans-serif;
	color:#7581a1;
	font-size:16px;
	line-height: 26px;
}
a
{
	text-decoration: none;
}
h1
{
	font-size:80px;
	font-weight:600;
	color:#192b59;
}
.nav
{
	font-size:12px;
	font-weight:700;
	color:#6e7ea9;
	text-transform: uppercase;	
}
.btn-free
{
	font-weight:400;
	background-color:#1085e4;
	color:#fff;

}
.grid h2
{
	font-size:40px;
	color:#192b59;
	font-weight:700;

}
.grid h2 span
{
	color:#1085e4;
	font-size: 14px;
	font-weight:800;
	display: block;
}
.grid-item h3
{
	color: #192b59;
	font-size:20px;
	font-weight:600;
}
.grid-item a
{
	font-size: 14px;
	font-weight:600;
	color:#1085e4;
}
.grid-founder span
{
	font-size: 16px;
	font-weight:700;
	color:#192b59;
}
.grid-founder 
{
	font-size: 14px;
	font-weight:400;
	color:#1085e4;
}
.subscribe h2 span
{
	font-size: 14px;
	font-weight:800;
	display:block;
	color:#00bffe;
}
.subscribe h2
{
	font-size: 50px;
	font-weight:600;
	color:#ffffff;
}
.subscribe p
{
	font-size: 18px;
	font-weight:400;
	color:#dfe8ff;
}
.btn-subscribe
{
	font-size: 14px;
	font-weight:700;
	background-color:#1085e4;
	color:#ffffff;
	}
.page-software  h2
{
	font-size: 50px;
	font-weight:600;
	color:#192b59;
}
.page-software dt
{
	text-size: 16px;
	font-weight:700;
	color:#5a6789;
}
.fun
{
	font-size:16px;
	font-weight:800;
	text-transform: uppercase;
	display:block;
	color:#1085e4
}
.page-stat h2
{
	font-size:50px;
	font-weight:600;
	color:#192b59;
}
.statistic
{
	font-size:60px;
	font-weight:700;
	text-transform: uppercase;
	display:block;
	color:#bacbdc
}
.page-stat li 
{
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
	color:#1085e4;
}
.page-app h2
{
	font-size:50px;
	font-weight:600;
	color:#192b59;
}	
.Available
{
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
	color:#c4d2dd;
}
.page-analytics h2
{
	font-size:50px;
	font-weight:600;
	color:#192b59;
}
.page-analytics a
{
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
	background-color:#1085e4;
	color:#fff;
}
.page-screen span
{
	font-size:18px;
	font-weight:800;
	text-transform:uppercase;
	display:block;
	color:#1085e4;
}
.page-screen h2
{
	font-size:40px;
	font-weight:600;
	color:#192b59;
}
.page-trial h2
{
	font-size:50px;
	font-weight:600;
	color:#192b59;
}
.page-trial input
{
	font-size:14px;
	font-weight:400;
	display:block;
	color:#8995b3;
}
.page-trial textarea
{
	font-size:14px;
	font-weight:400;
	display:block;
	color:#8995b3;
}
.page-trial button
{
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	background-color:#1085e4;
	color:#fff;
}